aside{
    background-color: black;
    font-size: 75px;
    display: flex;
    justify-content: center;
    
    
    ul{
        list-style: none;
        cursor: pointer;
        
        li{
            &:nth-child(1){
                color:#3F5997;
                

            }
            &:nth-child(2){
                color:#7AACEE
            }
            &:nth-child(3){
                color:#C94A39
            }
            &:nth-child(4){
                color:#577BB5
            }
            &:nth-child(5){
                color:#BB1400
            }
        }
    }
}
