@import "./aside";
@import "./header";
@import "./main";
@import "./aside2";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.index{
    width: 100%;
    display: flex;
    aside{
        width: 7%;
        height: 500px;
        display: flex;
        position: sticky;
        top:0
    }
    header{
        width: 93%;
    }
    
}


